<!DOCTYPE html>
<html>
<head>
<title>Home</title>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto" rel="stylesheet">
<link rel="stylesheet" href="../css/site.css"/>
<link rel="stylesheet" href="../css/home.css"/>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>



</head>

<body>

  <!-- Navbar -->

  <nav id="global-nav">

      <div class="navbar-main flex-container">

          <div class="navbar-item">
              <a>
                  <i class="fa fa-cloud nav-js"></i>
                </a>

                <a class="navbar-hidden">Products</a>
                <a class="navbar-hidden">Services</a>
                <a class="navbar-hidden">More</a>
               
            </div>

        <div class="navbar-item">
          <a>
            <i class="fa fa-home"></i>
          </a>

        </div>
        
        <div class="navbar-item">
            <a>
                <i class="fa fa-twitter"></i>
              </a>
          </div>

          <div class="navbar-item">
              <a>
                  <i class="fa fa-facebook"></i>
                </a>
            </div>

            <div class="navbar-item">

                <a>
                    <i class="fa fa-search nav-js"></i>
                  </a>

                

              </div>

            
              

      </div>

    </div>


  </nav>

<!-- Main content -->
  <div id="global-wrapper">

    <div id="home-page" class="container-fluid">

   
      <div class="row">
          <div class="info-item col-md-4">
              <span><h4>Cloud Services</h4>
                <i class="fa fa-cloud"></i>
              </span>
                <p>We offer a multitude of cloud computing services including cloud storage and cloud deployment</p>
              </div>

        <div class="info-item col-md-4">
          <span><h4>Shape your service</h4>
            <i class="fa fa-cogs"></i>
          </span>
            <p>Our easy to use development tools allow you to configure how your application behaves and can help to reduce costs by tailoring the experience to your needs</p>
          </div>

          <div class="info-item col-md-4">
              <span><h4>Integration</h4>
                <i class="fa fa-connectdevelop"></i>
              </span>
                <p>You can seamlessly connect your applications to other applications and databases on the internet through our API</p>
              </div>
    </div>

    <div class="row">

        <div class="info-item col-md-4">
            <span><h4>Join the community</h4>
              <i class="fa fa-twitter"></i>
            </span>
              <p>Join one of our various social media communities to recieve news and updates or enter our community competitions</p>
            </div>

        <div class="info-item col-md-4">
            <span><h4>Open Source</h4>
              <i class="fa fa-github"></i>
            </span>
              <p>We are big supporters of the open source movement, contribute to one of our projects today!</p>
            </div>

      

        <div class="info-item col-md-4">
            <span><h4>Integration</h4>
              <i class="fa fa-user"></i>
            </span>
              <p>Think you have what it takes to join our team? We are always looking to bring in enthusiastic team members, apply today!</p>
            </div>
    </div>
      
    <div class="row news-of-the-day container-fluid">


      <div class="row">
          <h3 class="col-md-3 col-xs-3">Cloud Database Released</h3>
      </div>
      

      <div class="row col-md-12">
          <p>Our new distributed cloud database - Zephyr is now open for commercial use. After months of testing, the highly anticipated cloud datastore could allow businesses 
              a cost efficient and trustworthy mechanism for data hosting. Zephyr applications can easily intergrate with other applications and databases
              in our other cloud services as well as outside cloud services thanks to our CloudLink api.
      
              
            </p>

      </div>

      <div class="row">
        
          <img class="col-md-2 col-md-offset-5 col-xs-4 col-xs-offset-4" src="../images/zephyr.png" alt="zephyr"/>
      </div>

     

    </div>

    <div class="row progress-row container-fluid">

      <h3>Current Projects</h3>

      <div class="progress">
          <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="sr-only">100% Complete</span>
            Zephyr
          </div>
        </div>

        <div class="progress">
            <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
              <span class="sr-only">60% Complete</span>
              Cloud Link Full Release
            </div>
          </div>

          <div class="progress">
              <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                <span class="sr-only">20% Complete</span>
                Cloud Test Network
              </div>
            </div>
    </div>

    </div>

  </div>

<!-- Footer -->

  <footer id="global-footer">

    <div class="footer-content">

    
    <nav>

      <div class="footer-links">
      <div class="footer-row">
      <div class="footer-row-content">

        <ul class="footer-row-list">
            <li>
                <a class="footer-row-heading">Services</a>
              </li>
          <li>
            <a>Cloud Computing</a>
          </li>

          <li>
              <a>Virtual Machines</a>
            </li>

            <li>
                <a>Web Hosting</a>
              </li>
        </ul>

      </div>

      </div>

      <div class="footer-row">
          <div class="footer-row-content">  
            <ul class="footer-row-list">
                <li>
                    <a class="footer-row-heading">About</a>
                  </li>
              <li>
                <a>Contact us</a>
              </li>
    
              <li>
                  <a>Our Mission</a>
                </li>
    
                <li>
                    <a>Careers</a>
                  </li>
            </ul>
    
          </div>
    
          </div>

          <div class="footer-row">
              <div class="footer-row-content">
        
                <ul class="footer-row-list">
                    <li>
                        <a class="footer-row-heading">Sitemap</a>
                      </li>
                  <li>
                    <a>Home</a>
                  </li>
        
                  <li>
                      <a>Products</a>
                    </li>
        
                    <li>
                        <a>Stores</a>
                      </li>

                      <li>
                          <a>About</a>
                        </li>

                      <li>
                          <a>Contact</a>
                        </li>

                        <li>
                            <a>Careers</a>
                          </li>

                        <li>
                            <a>Help</a>
                          </li>
                </ul>
        
              </div>
        
              </div>
      
    </nav>

    <div class="footer-copy">
      <a><i class="fa fa-copyright"></i>William K 2018</a>

    </div>
  </div> 
  
  </footer>

  <div class="helpbar">

    <i class="fa fa-info"></i>
    <i class="fa fa-weixin helpbar-item-hidden"></i>
    <i class="fa fa-refresh helpbar-item-hidden"></i>

  </div>




  <script src="../js/site.js"></script>  
  <script src="../js/home.js"></script>  
</body>

</html>